.box{

  width: 100%;
  height:300px;
  margin-top: 10%; 


}




.i1
{
    width:20%;
    height:23%;
float: left;
margin-left: 5%;
display: inline-block;
position:  absolute; TOP: 300px; LEFT: 10px;
border: .5px  blue;
outline-color: white;
outline-style:dashed;
}

.i1 img {
   height: 100%;
   width: 100%;
}

.i1:hover img {
  -moz-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  transform: scale(1.1);
}
.i2
{
    width:20%;
    height:23%;
    margin-left: 28.5%; 
    position:  absolute; 
    TOP: 300px; LEFT: 50px; 
border: .5px  blue;
outline-color: white;
outline-style:dashed;


}
.i2 img {
   height: 100%;
   width: 100%;
}
.i2:hover img {
  -moz-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  transform: scale(1.1);
}
.i3
{
   width:20%;
    height:23%;
    
    margin-left: 52%; 
    position:  absolute; TOP: 300px; LEFT: 100px;
border: .5px  blue;
outline-color: white;
outline-style:dashed;
}
.i3 img {
   height: 100%;
   width: 100%;
}
.i3:hover img {
  -moz-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  transform: scale(1.1);
}
.i4
{
    width:20%;
    height:23%;
    
    margin-left: 75%;
    position:  absolute; TOP: 300px; LEFT: 150px; 

   /* float: right;*/
    border: .5px  blue;
outline-color: white;
outline-style:dashed;
}
.i4 img {
   height: 100%;
   width: 100%;
}

.i4:hover img {
  -moz-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  transform: scale(1.1);
}
.htext
{
  text-align: center;
  margin-left: 10%;
  margin-right:10%; 
  color: white;
  font-size: 130%;
}

.t1
{
    
font-family: Arial, Helvetica, sans-serif;
margin-left: 9%;
position:  absolute;
 TOP: 470px; 
 LEFT: 10px;
color:white;
  
}


.t2
{

   font-family: Arial, Helvetica, sans-serif;

    margin-left: 32.5%;
    position:  absolute; TOP: 470px; LEFT: 50px; 


}
.t3
{
   font-family: Arial, Helvetica, sans-serif;

    margin-left: 58%;
    position:  absolute; TOP: 470px; LEFT: 100px;
}

.t4
{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 79%;
 position:  absolute; TOP: 470px; LEFT: 150px; 
 color:white;
}

.sai
{
  margin-left: 33%;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ff1a1a;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #8080ff;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #ffffff;
  color:#000000;
}